.vscode/**

src/toy/*.cpp
src/toy/*.hpp
src/toy/*.h

src/parser/*.cpp
src/parser/*.hpp
src/parser/*.h

src/lexer/lexer.cpp
src/lexer/lexer.hpp

src/codegen/**
src/codegen/**
src/visitor/**
src/builtin/**
src/utils/**

sample/**
build/**
bin/**

/*.txt
/*.cpp
/*.py
/*.c

*~
*.out
*.lib
*.user
info/*
*.output
**/build
**/Debug
**/Release
**/html
**/.vscode
**/.vs
*.llvm
**/*.txt
**/*.org
**/config.h
CMakeSettings.json
**/.clang-tidy
**/.clang_complete
!CMakeLists.txt
